{block}
    <div class="card">
        <div class="card-header">{_web-user-view.header}</div>
        <div class="card-body">
            <strong>{$userEntity->name} {$userEntity->surname}</strong>
            <i>@{$userEntity->username}</i>
        </div>
    </div>
{/block}