{block content}
    <div class="card">
        <div class="card-header">{_web-user-edit.header}</div>
        <div class="card-body">
            {control editForm}
        </div>
    </div>
{/block}
