services:
  web-project-web:
    build:
      context: ./
      dockerfile: ./.docker/web/Dockerfile
    ports:
      - "9080:80"
    environment:
      - SERVERNAME=web-project
      - SERVERALIAS=example2.local *.example2.local
      - DOCUMENTROOT=www
      - NETTE_DEBUG_SECRET=SC9NJHrQOrcys2sdaySIZvxQKKQp5Dx0HT0SMD9fsqkMEwPV93nGUzSW5ryXZ1sS
    volumes:
      - ./:/var/www/html/
    depends_on:
      - web-project-mysql
      - web-project-postgres
    tty: true

  web-project-mysql:
    image: mysql:8.0.40
    ports:
      - "4306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=web-project
      - MYSQL_USER=web-project
      - MYSQL_PASSWORD=password
    volumes:
      - ./.docker/mysql/data:/var/lib/mysql

  web-project-postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: web-project
      POSTGRES_USER: web-project
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - ./.docker/postgres/data:/var/lib/postgresql/data

  web-project-adminer:
    image: adminer
    restart: always
    ports:
      - "9082:8080"
    environment:
      ADMINER_DEFAULT_SERVER: web-project-postgres
    depends_on:
      - web-project-mysql
      - web-project-postgres

  web-project-redis:
    image: redis:latest
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - ./.docker/redis/data:/data