<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- 1. Přesměrování na HTTPS (podle X-Forwarded-Proto) -->
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^https$" negate="true" />
                        <add input="{HTTP_HOST}" pattern="^(www\.)?alfred\.borec\.cz" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- 2. Odstranění /www z URL (viditelné přesměrování 301) -->
                <rule name="Remove WWW folder from URL" stopProcessing="true">
                    <match url="^www$|^www/(.*)" />
                    <action type="Redirect" url="/{R:1}" redirectType="Permanent" />
                </rule>

                <!-- 3. Přepis prázdné adresy (rootu) na www/index.php -->
                <rule name="Root Rewrite" stopProcessing="true">
                    <match url="^$" />
                    <action type="Rewrite" url="www/index.php" />
                </rule>

                <!-- 4. Vnitřní přepis všeho ostatního do složky /www (pokud to není složka /sys) -->
                <rule name="Global Rewrite to WWW" stopProcessing="true">
                    <match url="(.+)" />
                    <conditions>
                        <add input="{REQUEST_URI}" pattern="^/sys/" negate="true" />
                        <!-- Pojistka proti nekonečné smyčce, pokud už cesta ve www je -->
                        <add input="{REQUEST_URI}" pattern="^/www/" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="www/{R:1}" />
                </rule>
            </rules>
        </rewrite>

        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>