{block content}
    <div class="card">
        <div class="card-header">
            <h2>{_admin-user-list.title}</h2>
        </div>
        <div class="card-body">
            {control grid}
        </div>
    </div>
{/block}