{block content}
    <a href="{link :Admin:User:Create:default}" class="btn btn-secondary mt-1">
        <i class="fa-solid fa-plus"></i> {_admin-user-list.add-user}
    </a>

    <div class="card mt-1">
        <div class="card-header">
            <h2>{_admin-user-list.title}</h2>
        </div>
        <div class="card-body">
            {control grid}
        </div>
    </div>
{/block}