{block content}
    <div class="card col-3 mt-1">
        <div class="card-header">{_web-user-registration.form.header}</div>
        <div class="card-body">
            {control registrationForm}
        </div>
    </div>
{/block}
