{block content}
    <div class="card col-3">
        <div class="card-header">
            {_admin-user-create.header}
        </div>
        <div class="card-body">
            {control createForm}
        </div>
    </div>
{/block}
