<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>{ifset title}{include title|stripHtml}{/ifset}</title>

        {asset app.js}
    </head>

    <body>
        {control menu}

        {control menu:breadcrumbs}

        {snippet flashes}
        <div class="container-fluid">
            {foreach $flashes as $flash}
            <div class="alert alert-{$flash->type} alert-dismissible fade show mt-1" role="alert">
                {if $flash->type === 'success'}
		            <i class="fas fa-check"></i>
		        {elseif $flash->type === 'danger'}
		            <i class="fas fa-times"></i>
		        {/if}

                {$flash->message}
            </div>
            {/foreach}
        </div>
        {/snippet}

        <div class="container-fluid">
            {include content}
        </div>
    </body>
</html>
