extensions:
    #nettrine.annotations: Nettrine\Annotations\DI\AnnotationsExtension
    nettrine.cache: Nettrine\Cache\DI\CacheExtension
    nettrine.migrations: Nettrine\Migrations\DI\MigrationsExtension
    nettrine.fixtures: Nettrine\Fixtures\DI\FixturesExtension
    nettrine.extensions.beberlei: Nettrine\Extensions\Beberlei\DI\BeberleiBehaviorExtension

    # Dbal
    nettrine.dbal: Nettrine\DBAL\DI\DbalExtension
    nettrine.dbal.console: Nettrine\DBAL\DI\DbalConsoleExtension(%consoleMode%)

    # Orm
    nettrine.orm: Nettrine\ORM\DI\OrmExtension
    nettrine.orm.cache: Nettrine\ORM\DI\OrmCacheExtension
    nettrine.orm.console: Nettrine\ORM\DI\OrmConsoleExtension(%consoleMode%)
    #nettrine.orm.annotations: Nettrine\ORM\DI\OrmAnnotationsExtension
    nettrine.orm.attributes: Nettrine\ORM\DI\OrmAttributesExtension

    formMapper: FreezyBee\DoctrineFormMapper\DI\FormMapperExtension

nettrine.dbal:
    debug:
        panel: %debugMode%
        sourcePaths: [%appDir%]
    connection:
        driver: %database.main.driver%
        host: %database.main.host%
        user: %database.main.username%
        password: %database.main.password%
        dbname: %database.main.database%
        charset: %database.main.charset%
        default_table_options:
            charset: %database.main.charset%
            collate: utf8_czech_ci

nettrine.cache:
    driver: Doctrine\Common\Cache\SQLite3Cache(SQLite3('%cacheDir%/doctrineCache.db'), 'cache')

nettrine.orm:
    configuration:
        autoGenerateProxyClasses: %debugMode%

nettrine.orm.attributes:
  mapping:
      App\Model\Entity: %appDir%/Model/Entity

nettrine.extensions.beberlei:
    driver: mysql

nettrine.migrations:
    table: migrations
    column: version
    directory: %migrationsDir%
    namespace: App\Database\Migrations
    versionsOrganization: null # null, year, year_and_month

nettrine.fixtures:
  paths:
    - %fixturesDir%