extensions:
	contributte.webpack: Contributte\Webpack\DI\WebpackExtension(%debugMode%, %consoleMode%)

contributte.webpack:
	build:
		directory: %wwwDir%/dist
		publicPath: dist/
	devServer:
		enabled: %debugMode% # default
		url: http://localhost:3060
		timeout: 0.1 # (seconds) default