{block content}
    <div class="card">
        <div class="card-header">{_web-user-forgetPassword-set.form.header}</div>
        <div class="card-body">
            {snippet changePasswordFormWrapper}
                {control changePasswordForm}
            {/snippet}
        </div>
    </div>
{/block}
