parameters:
    env:
        url: localhost

    database:
        main:
            host: web-project-database
            username: "root"
            password: "mysqlroot"
            database: "web-project"
            dsn: "mysql:host=web-project-database;dbname=web-project;charset=utf8mb4"
            charset: utf8mb4
            driver: pdo_mysql
            collation: utf8mb4_unicode_ci

services:
	# Dump mails in folder
	mail.mailer: Contributte\Mail\Mailer\FileMailer(%tempDir%/mails)

