parameters:
    env:
        url: localhost

    database:
        default:
            host: "web-project-postgres"
            port: 5432
            driver: pdo_pgsql
            username: "web-project"
            password: "password"
            database: "web-project"
            dsn: "pgsql:host=web-project-postgres;dbname=web-project"
            charset: utf8

services:
	# Dump mails in folder
	mail.mailer: Contributte\Mail\Mailer\FileMailer(%tempDir%/mails)

