parameters:
    env:
        url: localhost
    database:
        main:
            host: web-project-database
            username: "root"
            password: "mysqlroot"
            database: "web-project"
            dsn: "mysql:host=web-project-database;dbname=web-project"
            charset: utf8
            driver: pdo_mysql