parameters:
    env:
        url:

    database:
        default:
            host: "web-project-postgres"
            port: 5432
            driver: pdo_pgsql
            type: mysql
            username: "web-project"
            password: "password"
            database: "web-project"
            dsn: "pgsql:host=web-project-postgres;dbname=web-project"
            charset: utf8

    mail:
        smtp: false
        host: ""
        port: 465
        username: ""
        password: ""