parameters:


application:
    debugger: true
    errorPresenter:
        4xx: Error:Error4xx
        5xx: Error:Error5xx
    mapping:
        *: App\UI\*\**Presenter


session:
    debugger: true
    expiration: 14 days

latte:
    debugger: true
    #strictParsing: yes
    strictTypes: true
    locale: cs_CZ

di:
    debugger: true
    export:
        parameters: true
        tags: true

http:
    cookieSecure: auto

security:
    debugger: true

routing:
    debugger: true
    cache: true

tracy:
    maxLength: 500
    maxDepth: 10
    showLocation: true
    strictMode: true
    showBar: true

#mail:
    #smtp: %mail.smtp%

    #host: %mail.host%
    #port: %mail.port%
    #username: %mail.username%
    #password: %mail.password%
    #timeout: ...     # (int)
    #encryption: ...  # (ssl|tls|null) výchozí je null (má alias 'secure')
    #clientHost: ...  # (string) výchozí je $_SERVER['HTTP_HOST']
    #persistent: ...  # (bool) výchozí je false

services:
    -
        create: App\Core\UsernameAndPasswordAuthenticator
        autowired: self

    -
        create: App\Core\AutoLoginAuthenticator
        autowired: self



