parameters:


application:
    debugger: true
    errorPresenter: Error
    mapping:
        *: [App, Modules\*, Presenters\*Presenter]


session:
    expiration: 14 days
    debugger: true

latte:
    debugger: true
    strictTypes: true

di:
    debugger: true
    export:
        parameters: true
        tags: true

http:
	cookieSecure: auto

security:
    debugger: true

routing:
    debugger: true

tracy:
    maxLength: 500
    maxDepth: 10
    showLocation: true
    strictMode: true
    showBar: true
