parameters:


application:
    errorPresenter: Error
    mapping:
        *: [App, Modules\*, Presenters\*Presenter]


session:
    expiration: 14 days
    debugger: true

latte:
    debugger: true
    strictTypes: true

di:
    export:
        parameters: no
        tags: no
    debugger: true

security:
    debugger: true
