search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter

includes:
    - %configDir%/ext/webpack.neon
    - %configDir%/ext/nettrine.neon
    - %configDir%/ext/console.neon
