search:
	-   in: %appDir%
		classes:
			- *Factory
			- *Facade

services:
	- App\Router\RouterFactory::createRouter

includes:
    - %configDir%/ext/console.neon
    - %configDir%/ext/guzzle.neon
    - %configDir%/ext/nettrine.neon
    - %configDir%/ext/translation.neon
    - %configDir%/ext/webpack.neon
    - %configDir%/ext/menu.neon
