search:
	-   in: %appDir%
		classes:
			- *Factory
			- *Facade

services:
    RouterFactory: App\Core\RouterFactory::createRouter
    SessionHandler: App\Model\SessionHandler

includes:
    - %configDir%/ext/console.neon
    - %configDir%/ext/guzzle.neon
    - %configDir%/ext/nettrine.neon
    - %configDir%/ext/translation.neon
    - %configDir%/ext/menu.neon
    - %configDir%/ext/mailing.neon
    - %configDir%/ext/redis.neon
