{block content}
    <div class="d-flex justify-content-center mt-1">
        <div class="card col-3">
            <div class="card-body">
                {control changePasswordForm}
            </div>
        </div>
    </div>
{/block}
